.head {
    background: antiquewhite;
}

.mp1 {
    background: aquamarine;
}

.mp2{
    background: aliceblue;
}

.mp3{
    background: darkgray;
}

.mp4 {
    background: cadetblue;
}

.footer {
    background: dimgray;
}